<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/staff.css">
</head>
<%- include('./includes/navigation.ejs') %>

<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Mr. 
            <span class="text-primary"> <%= user.name %></span>
        </h1>
        <br>
         <hr>   
         <div class="col-md-5">
            <label for="vaccine" class="form-label">Tên Nhân viên</label>
            <form class="col-12 col-lg-6 mb-3 mb-lg-0 me-lg-6" action="/admin" method="GET">  
            <select class="form-select" id="idStaff" name="idStaff" type="submit" required>         
              <option value="" selected disabled>Chọn tên nhân viên</option>
              <% for (let item of users) { %>
              <option value="<%= item._id %>"><%= item.name %></option>
              <% } %>
            </select>
            </form>
          </div>   
        
          <br>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Ngày</th>
                <th scope="col">Giờ bắt đầu</th>
                <th scope="col">Giờ kết thúc</th>
                <th scope="col">Nơi làm việc</th>     
                <th scope="col">Tổng số giờ đã làm</th>
              </tr>
            </thead>
            <tbody>
                <% for (let item of rollcall) { %>
              <tr>
                <th scope="row"><%= item.startTime.toLocaleDateString() %></th>
                <td><%= item.startTime.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }) %></td>
                <td class="row rowfix">
                  <div class="col-3"><%= item.endTime.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }) %> </div>
                  <form action="/admin/<%= item._id %>" method="POST" class="col-9">
                    <input type="text" class="datetimepicker" value="<%= item.endTime %>" name="endTime">
                    <button class="btn btn-primary btn-xl " type="submit">Sửa</button>
                </form>

                <!-- <button type="button" class="btn btn-primary col-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Sửa
                </button>
                <form action="/admin/<%= item._id %>" method="POST" class="col-9"></form>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sửa thời gian kết thúc</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          
                    <input type="text" class="datetimepicker" value="<%= item.endTime %>" name="endTime">      
                          
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary " type="submit">Lưu lại</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form> -->

                </td>
                <td><%= item.workplace %></td>
                <td><%= item.timework %></td>
              </tr>
                <% } %>
            </tbody>
          </table>
    </div>
</section>

<link rel="stylesheet" type="text/css" href="css/jquery.datetimepicker.css"/ >
<script src="js/jquery.js"></script>
<script src="js/jquery.datetimepicker.full.min.js"></script>
<script src="/js/staff.js"></script>
<script>
      jQuery('.datetimepicker').datetimepicker({

    });

    $('#idStaff').on('change', function(event) {
        this.form.submit();
});
</script>
<%- include('./includes/end.ejs') %>
